<!DOCTYPE html>
<html>
<style>
body {
    font-family: "Montserrat", sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 19px;
    background-color: #f7f8fa;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div.container {
  border-radius: 5px;
  background-color: #f7f8fa;
  {{!-- padding: 20px; --}}
}
</style>
<head>
    <title>Delete TA</title>
     <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel = "stylesheet" href="/css/style.css">
</head>
<body>

<h1>Drop TA</h1>

<div class="container">
  <form action="/">
    <label for="fname">TA Roll Number</label>
    <span class="required">*</span>
    <input type="text" id="id" name="id" placeholder="Enter roll number.." required>

    <label for="fname">Password</label>
    <span class="required">*</span>
    <input type="text" id="password" name="password" placeholder="Enter password.." required>
    <input type="submit" value="Submit">
  </form>
</div>
{{>footer}}
  <script src="/js/deleteta.js"></script>

</body>
</html>
